/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/admin/assets/image
/public/front/images/category
/public/front/product/image/small
/public/front/product/image/medium
/public/front/product/image/large
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
